.Skill-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; 
  padding: 20px;
  border-radius: 5%;
}

.Skill-card img {
  width: 100%;
}

.Skill-card svg {
  height: 60px;
}

.pink {
  color: pink;
}
